:root {
  --light-mode-background: url('https://media0.giphy.com/media/ddfb7PvwyzrepUhsdZ/giphy.gif?cid=ecf05e475cfhbotf1cihgxif1mslerua9wb4biu4j4pkyhbm&ep=v1_gifs_related&rid=giphy.gif&ct=g');
  --dark-mode-background: url('https://media1.giphy.com/media/qTeiUJNlcoMe3LOMkk/giphy.gif?cid=ecf05e475cfhbotf1cihgxif1mslerua9wb4biu4j4pkyhbm&ep=v1_gifs_related&rid=giphy.gif&ct=g');
}

body {
  font-family: 'Arial', sans-serif;
  background-image: var(--light-mode-background);
  background-size: cover;
  transition: background-image 0.5s ease;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

header img {
  max-width: 25%; 
  border-radius: 50%;
}

h1 {
  color: #333;
}

ul.contact {
  list-style: none;
  padding: 0;
}

ul.contact li {
  margin-bottom: 10px;
}

main {
  margin-top: 20px;
}

section {
  margin-bottom: 20px;
}

#switch-button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Work h2,
.Education h2,
.Achievements h2,
.Seminars h2,
.Organizations h2 {
  color: #3498db;
}

.Work h2,
.Education h2,
.Achievements h2,
.Seminars h2,
.Organizations h2 {
  color: #3498db;
}

.Work h2,
.Education h2,
.Achievements h2,
.Seminars h2,
.Organizations h2 {
  color: #3498db;
}

#switch-button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Work h2,
.Education h2,
.Achievements h2,
.Seminars h2,
.Organizations h2 {
  color: #3498db;
}